[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[2024-03-13-19-09-41-00]
row=0
col=0

[127E5AB77E5A92F9]
row=1
col=0

[48CEBDDECEBDC50A]
row=2
col=0

[Papelera]
row=3
col=0

[/]
row=4
col=0

[/home/luc]
row=5
col=0

