[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luc/Escritorio/panel]
row=3
col=0

[/home/luc/Escritorio/default.xml]
row=4
col=0

[/home/luc/Escritorio/xfconf]
row=1
col=0

[/home/luc/Escritorio/Desktop]
row=2
col=0

[Papelera]
row=0
col=0

